.wallet-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 8px;
  background-color: #f3f3f3;
}

.wallet-item-info {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
}

.wallet-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(46,46,46);
  color: white;
  border-radius: 12px;
  margin: 12px;
  padding: 8px;
  width: 65px;
}
