.new-wallet-controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  text-align: left;
}

.new-wallet-control label {
  font-weight: bold;
  display: block;
}

.new-wallet-control input {
  padding: 8px;
  border-radius: 12px;
  border: none;
  margin-top: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}